@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    color: antiquewhite;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
header{
    z-index: 1;
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}
main{
    background-image: url(../assets/Img1.jpg);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item1{
    z-index: 1;
    background-color: black;
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    position: absolute;
}
footer{
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
